html{
	background-image: url(images/fondogris2.jpg);
}
body{
	margin: 150px;
	background-image: url(images/fondo-negro.jpg);
}

* {
	box-sizing: border-box;
	font-family: Helvetica;
}
#Navbar{
	background-image: url(images/banner.jpg);
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 100%;
	word-spacing: 70px;
	position: sticky;
}
#contacto{
	padding-right: 10px;
}

#avatar{
	height: 400px;
	margin-top: 100px;
}
header h1{
	color:#C1C1C1;
}

.bar-item{
	text-decoration: none;
	color:#FFFFFF;
}
.bar-item:hover{
	background-color:#434343;
	padding: 22px;
}


header{
	background-image: url(image/header.jpg);
	height: 700px;
	background-size: cover;
	margin: none;
	text-align: center;
	margin-bottom: 280px;
}

section{
	background-color:#DBDBDB;
	margin: 0px;
}

.info{
	font-variant: small-caps;
	color: #FFFFFF;
}

section fieldset{
	border: none;
	background-color: 
}

#submit{
	opacity: 1;
}

#heading{
	 padding-left: 40px;
}
#article{
	margin-left: 15px;
}

div{
	color: #FFFFFF;
	padding: 100px;
}

#portfolio{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;

}

#marathon{
	width: 700px;
	height: 700px;
}
#pirate{
	width: 750px;
}

#container{
	width: 100%;
}

.skills{
	width: 100%;
	background-color: #D1D1D1;
}

.skill-bar{
	text-align: center;
  	line-height: 40px;
  	color: white;
  	background-color: #808080;
  	border:solid;
  	border-color: #808080;
  	border-radius: 100px;
 
}

#nl{
	width: 70%;	
}
#en{
	width: 80%;
}
#html{
	width: 80%;
}
#css{
	width: 80%;
}
#py{
	width: 70%;
}

.skill{
	text-align: left;
	color:#444444;
}

#contact{
	background-color: #353535;
	padding-top: 40px;

}

